* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}
.logo {
  width: 3em;
}
.menu-container {
  padding: 2em 0;
}
.menu a {
  margin-left: 10px;
  padding: 0 10px;
  text-decoration: none;
  color: #272727;
}
.menu a:hover {
  color: #7c7c7c;
}
.menu a.active {
  color: #ff143f;
  border: 2px solid #ff143f;
}
.menu a.active:hover {
  background-color: #ff143f;
  color: #fafafa;
}
.header-container {
  color: #272727;
}
.header-container-work {
  padding: 2em 0;
  color: #272727;
}
.photo-header img {
  width: 100%;
}
.textbox-contact {
  width: 100%;
}
.textbox-info {
  border: 2px solid #ff143f;
  padding: 20px;
}
.textbox-info p {
  margin: 10px 10px;
}
.text-header-container strong {
  font-weight: 600;
  color: #ff143f;
}
.text-header-container h1 {
  font-size: 2.9em;
}
.text-header-container h2 {
  font-size: 1.9em;
}
.text-header-container p {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 10px 0;
  padding: 10px 0;
}
.link-red {
  font-size: 1.5em;
  padding: 10px 0;
  color: #ff143f;
}
.textbox-contact a.link-red {
  font-size: 1em;
  color: #ff143f;
}
.little-sub-title {
  font-size: 1.2em;
  height: 30px;
  color: #ff143f;
  font-weight: 400;
}
h1, h2, p {
  font-weight: 300;
}
.text-work h2 {
  font-size: 1.2em;
  color: #999999;
}
.text-work p {
  font-size: 1.5em;
  font-weight: 300;
  margin: 10px 0;
}
.section-container {
  width: 100%;
}
.work-pic img {
  width: 100%;
}
.work-box {
  padding: 2em;
  border: 2px solid #272727;
  background-color: #fafafa;
  width: 100%;
  height: 90%;
}
.date-work-box {
  color: #ff143f;
  text-decoration: none;
  margin: 10px 0;
}
.view-more {
  text-align: right;
}
.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff143f;
  color: #fafafa;
  height: 300px;
}
.btn-contact {
  background-color: #ff143f;
  color: #fafafa;
  border: 2px solid #fafafa;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 0.4em 1em;
  margin-top: 20px;
}
.copyright {
  font-size: 0.9em;
  color: #ff143f;
}
.btn-contact:hover {
  color: #ff143f;
  background-color: #fafafa;
  border: 2px solid #fafafa;
}
.image-work {
  width: 100%;
}
.image-work-row {
  width: 100%;
}
.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.photo-grid-item img {
  width: 100%;
  margin: 8px 0;
}
.photo-grid-item img:hover {
  opacity: 0.8;
}
.icon-contact {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.icon-contact img {
  width: 50px;
  margin-right: 10px;
}
/* Mobile Styles */
@media only screen and (max-width: 500px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .text-header-container {
    text-align: center;
  }
  .text-header-container h1 {
    line-height: 1.2em;
    padding: 0 30px;
  }
  .text-header-container h2 {
    line-height: 1.2em;
    margin: 20px 0;
  }
  .photo-header {
    display: none;
  }
  .header-container {
    margin-bottom: 60px;
  }
  .header-container-work {
    padding-top: 0;
  }
  .section-container {
    margin-bottom: 60px;
  }
  .section-contact h2 {
    padding: 0 25px;
  }
  .icon-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
/*Tablet Styles*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .text-header-container {
    text-align: center;
  }
  .text-header-container h1 {
    line-height: 1.2em;
    padding: 0 30px;
  }
  .text-header-container h2 {
    line-height: 1.2em;
    margin: 20px 0;
  }
  .text-work p {
    padding: 0 10%;
  }
  .text-work div {
    margin-top: 20px;
  }
  .photo-header {
    display: none;
  }
  .header-container {
    margin-bottom: 60px;
  }
  .header-container-work {
    padding-top: 0;
  }
  .section-container {
    margin-bottom: 60px;
  }
  .section-contact h2 {
    padding: 0 25px;
  }
  .icon-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .textbox-info {
    width: 350px;
    margin: auto;
  }
}
/*Desktop Style*/
@media only screen and (min-width: 961px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    align-items: center;
  }
  .header-container-work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .photo-header {
    width: 25em;
  }
  .textbox-contact {
    width: 70%;
  }
  .textbox-info {
    text-align: right;
    width: 30%;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  .section-container {
    display: flex;
    align-items: center;
    padding: 0 0;
    margin: 25px 0;
  }
  .work-pic {
    justify-content: flex-start;
    position: relative;
    width: 120em;
    z-index: 1;
  }
  .work-box {
    justify-content: flex-end;
    margin-right: 0;
    z-index: 2;
    margin-left: -3em;
  }
  .invert {
    order: -1;
    margin-left: 0em;
    margin-right: -3em;
  }
  .section-contact {
    margin: 0 0;
    margin-top: 20px;
  }
  .image-work-row {
    width: 49%;
  }
  .section-work-container-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work-item {
    margin-top: 20px;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo-grid-item img {
    width: 430px;
    margin: 8px 10px;
  }
  .photo-grid-item img:hover {
    opacity: 0.8;
  }
  .text-header-container {
    padding-right: 50px;
  }
  .text-header-container h1 {
    line-height: 1.2em;
  }
  .text-header-container h2 {
    margin-top: 10px;
  }
  .text-work {
    padding-left: 55%;
    padding-right: 0;
  }
  .textbox-info {
    width: 310px;
  }
}
